@model IEnumerable<EntV.Models.CourseViewModel>
@using EntV.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Member> SignInManager
@inject UserManager<Member> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Administrator") || User.IsInRole("Education"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus fa-bold"></i> Create New</a>
        </p>
    }
}

<table id="dataTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Administrator") || User.IsInRole("Education"))
                        {
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CourseId"><i class="fa fa-solid fa-pen"></i> Edit</a><span> |</span>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CourseId"><i class="fa fa-solid fa-circle-info"></i> Details</a><span> |</span>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CourseId" onclick="return confirm('Are you sure you want to delete this record?')"><i class="fa fa-solid fa-trash"></i> Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CourseId"><i class="fa fa-solid fa-circle-info"></i> Details</a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}